/* src/RegisterPage.css */

.register-container {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #ffe6eb, #ffd6e0);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.register-page {
  background-color: white;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 400px;
  width: 100%;
}

.register-page h1 {
  font-size: 2rem;
  color: #D04C65; /* Cake Bliss deep pink */
  margin-bottom: 30px;
}


.register-page input,
.register-page button {
  width: 100%;
  padding: 12px 15px;
  margin-bottom: 20px;
  border: 2px solid #FFD6DC;
  border-radius: 10px;
  font-size: 1rem;
  transition: border-color 0.2s ease;
}

.register-page input:focus {
  border-color: #D04C65;
  outline: none;
}


.register-page button {
  border-color: #D04C65;
  background-color: #D04C65;
  outline: none;
}

.register-page button:hover {
  background-color: #b03b55;
}

.login-link {
  text-decoration: none;
  color: #b03b55;
  font-weight: bold;
}

.login-link:hover {
  text-decoration: underline;
}